/* Global Styles */
body {
  display: flex;
  justify-content: center; /* Centers content horizontally */
  align-items: center; /* Centers vertically */
  flex-direction: column; /* Stack content properly */
  width: 100%;
  margin: 0;
  padding: 0;
  padding-bottom: 60px; /* Adjust based on footer height */
  

}

h1, h2, h3 {
  font-weight: bold;
}

button {
  background-color: #007bff;
  color: white;
  padding: 10px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

button:hover {
  background-color: #0056b3;
}